{% extends 'socialupdate/base.html' %}

{% block main-content %}

	<form method='POST'>
		{% csrf_token %}
		<div class="form-group">
			<label for="id_description">Description : </label>
			<textarea class="form-control" id="id_description" name="description"></textarea>
		</div>
		<div class="form-group">
			<label for="id_content_img">Image : </label>
			<input type="file" name="content_img" class="form-control" accept="image/*" id="id_content_img">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

{% endblock %}