{% extends 'socialupdate/base.html' %}

{% block head-content %}

    <style>
        .post-container{
            column-count: 3;
            column-gap: 1em;
        }

        .post-card{
            background-color: #eee;
            display: inline-block;
            margin: 0 0 1em;
            width: 100%;
            padding-bottom: 1em;
        }
    </style>

{% endblock %}

{% block main-content %}
    <div class="container post-container">
        {% for post in posts %}
                <div class="card post-card">
                        <div class="card-header text-muted">
                            <a href="#">
                                {% if post.posted_by.first_name %}
                                    {{ post.posted_by.first_name }}
                                {% else %}
                                    {{ post.posted_by }}
                                {% endif %}
                            </a>
                            Posted on {{ post.posted_at|date:"dS M, Y" }}
                        </div>
                        <img class="card-img-top img-fluid" src="{{ post.content_img.url }}" alt="No image available">
                        <div class="card-body">
                            <p class="card-text">{{ post.description }}</p>
                            <hr>
                            <form method="POST">
                                <i type="submit" class="far fa-thumbs-up float-left"></i>
                            </form>
                            <form class="float-right" method="POST">
                                <input class="rounded" type="text" placeholder="Comment here">
                                <button class="btn btn-outline-info" type="submit">Post</button>
                            </form>
                        </div>
                </div>
        {% endfor %}
    </div>

{% endblock %}